* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	font-size: 15px;
}

li {
	list-style-type: none;
}



/*device max-width 600px*/

/*style nav-bar*/

#nav-bar {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	background: #000;
}

#nav-bar::after {
	content: " ";
  clear: both;
  display: table;
}

#nav-bar-links {
	float: left;
}

#nav-bar-links::after {
  content: " ";
  clear: both;
  display: table;
}

#nav-bar-links > li {
  float: left;
}

#nav-bar-links > li + li {
  display: none;
}

#nav-bar-links > li > a {
	display: block;
	padding: 12px 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

#nav-bar-links > li > a:hover {
	color: #000;
  background: #ccc;
}

#toggle-menu {
	display: block;
	float: right;
	padding: 12px 24px;
	text-align: center;
	color: #fff;
}

#toggle-menu:hover {
	color: #000;
  background: #ccc;
  cursor: pointer;
}

#toggle-links {
	display: none;
	position: absolute;
	top: 100%;
	width: 100%;
	background: #000;
}

#toggle-links > li > a {
	display: block;
	padding: 12px 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	color: #fff;
}

#toggle-links > li > a:hover {
	color: #000;
  background: #ccc;
}



/*style slide-show*/

#slide-show {
	margin-top: 46px;
	width: 100%;
	padding: 25% 0;
	background: #ccc url("../images/slide-total-3.jpg") no-repeat 0 0;
	background-size: cover;
	animation: slide 12s infinite;
}

@keyframes slide {
	0% {background-position: 0% 0%;}
	33.33% {background-position: 0% 0%;;}
	33.34% {background-position: 50% 50%;}
	66.67% {background-position: 50% 50%;}
	66.68% {background-position: 100% 100%;}
	100% {background-position: 100% 100%;}
}




/*style content*/

h2 {
	margin: 10px 0;
	font-size: 30px;
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 4px;
	text-align: center;
	text-transform: uppercase;
}

h2 + p {
	font-style: italic;
	text-align: center;
}

h2 + p::first-letter {
	text-transform: uppercase;
}

#about-band, #about-tour, #contact {
	padding: 64px 16px;
}



/*style about-band*/

#about-band > p:nth-child(3) {
	margin: 15px 0;
}

#list-images {
	padding: 32px 0;
}

#list-images > li {
	text-align: center;
}

#list-images > li > p {
	margin: 15px 0;
}

#list-images > li > p::first-letter {
  text-transform: uppercase;
}

#list-images > li > img {
	margin-bottom: 16px;
	border-radius: 4px;
	vertical-align: middle;
}